[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/smol"]
	path = themes/smol
	url = https://github.com/colorchestra/smol
